{% extends "base.html" %}
{% block title %}Build A Blog | Home{% endblock %}
{% block heading %}Welcome to Build A Blog{% endblock %}

{% block content %}
    <main>
        <h2>Latest from the Blog</h2>
    </main>

    {% for post in posts %}
        <article>
            <h2 class="post-title"><a href="blog/{{post.key().id()}}">{{post.title}}</a></h2>
            <div class="post-body"><p>{{post.post}}</p></div>
        </article>
    {% endfor %}

    {% if page == 1 %}
        <div class = "prevnext">
            <a href="?page={{page+1}}">next &gt;&gt;</a>
        </div>
    {% elif page >= lastpage %}
        <div class = "prevnext">
            <a href="?page={{page-1}}">&lt;&lt; previous</a>
            {{numposts}}
        </div>
    {% else %}
        <div class = "prevnext">
            <a href="?page={{page-1}}">&lt;&lt; previous</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="?page={{page+1}}">next &gt;&gt;</a>
            {{numposts}}
        </div>
    {% endif %}

{% endblock %}
